@import "bourbon/bourbon"
@import "sass/_blocks"

/*Компоненты*/

.h-logo
	display: inline-block
	position: relative
	&__img
		display: block
		max-width: 100%
		height: auto
	&__description
		position: absolute
		bottom: -30px
		left: -50px
		right: -50px
		text-align: center
		width: auto
		text-align: center
		display: block
		font-size: 18px
		color: #686868

.h-prof
	display: inline-block
	margin-left: 20px
	color: #686868
	position: relative
	&:nth-child(2)
		margin-left: 0
		&::after
			display: none
	&:hover, &:focus, &:active
		text-decoration: underline
		color: #686868
	&:active
		text-decoration: none
	&::after
		content: ''
		width: 14px
		height: 17px
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-image: url(../img/icon/1.png)
		position: absolute
		display: block
		left: -20px
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)

.h-basket
	display: inline-block
	margin-left: 28px
	color: #686868
	position: relative
	&:hover, &:focus, &:active
		text-decoration: underline
		color: #686868
	&:active
		text-decoration: none
	&::after
		content: ''
		width: 20px
		height: 15px
		background-size: cover
		background-repeat: no-repeat
		background-position: center center
		background-image: url(../img/icon/2.png)
		position: absolute
		display: block
		left: -28px
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)

.h-nav
	font-size: 0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	-webkit-justify-content: space-between
	padding: 0 40px
	&__item
		display: inline-block
		&:hover
			.h-nav__link
				color: #686868
				text-decoration: none
				color: #c3a6e3
	&__item.active
		position: relative
		.h-nav__link
			font-family: "OpenSansBold", sans-serif
			color: #c3a6e3
		&::after
			content: ''
			height: 5px
			width: 100%
			left: 0
			right: 0
			bottom: 0
			position: absolute
			display: block
			background-color: #c6a9e6
	&__link
		color: #686868
		font-size: 18px
		display: block
		line-height: 48px
		&:hover, &:focus, &:active
			color: #686868
			text-decoration: none

.p-filter
	padding: 11px 35px
	background-image: url(../img/icon/patern.png)
	background-position: 0 0
	background-color: #d1bcea
	border-radius: 1px
	display: block
	@include clearfix
	&__item
		float: left
		display: block
		padding-left: 20px
		&-wp
			padding-left: 20px
			float: left
		&:first-child
			padding-left: 0
	&__title
		display: inline-block
		color: #fff
		font-size: 18px
		font-family: "OpenSansSemibold", sans-serif
		line-height: 40px
	&__input
		height: 40px
		border: 1px solid #c4a8e5
		padding: 0 10px
		font-size: 14px
		font-family: "OpenSansRegular", sans-serif
		color: #686868
		background-color: #fff
		&::-webkit-input-placeholder
			opacity: 1
			color: #9e9e9e
			font-family: "OpenSansItalic", sans-serif
		&::-moz-placeholder
			opacity: 1
			color: #9e9e9e
			font-family: "OpenSansItalic", sans-serif
		&:-moz-placeholder
			opacity: 1
			color: #9e9e9e
			font-family: "OpenSansItalic", sans-serif
		&:-ms-input-placeholder
			opacity: 1
			color: #9e9e9e
			font-family: "OpenSansItalic", sans-serif
	&__button
		height: 40px
		border: 1px solid #c4a8e5
		padding: 0 18px
		font-size: 14px
		text-transform: uppercase
		border: 1px solid #fff
		font-family: "OpenSansRegular", sans-serif
		color: #6d6d6d
		background-color: #e7e7e7
		-webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.11)
		-moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.11)
		box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.11)
	&__inst
		line-height: 40px
		display: inline-block
		text-decoration: none
		color: #fff
		font-size: 14px
		text-decoration: underline
		&:hover, &:focus, &:active
			color: #fff
			text-decoration: none
		&:active
			text-decoration: underline

.p-slider
	border-top: 1px solid #c4a8e5
	border-bottom: 1px solid #c4a8e5
	&__item
		height: 400px
		background-repeat: no-repeat
		background-position: 80% center
		.row
			background-repeat: no-repeat
			background-position: right center
			height: 400px
	&__content
		padding-top: 61px
	&__title
		font-size: 48px
		color: #c4a8e5
		display: block
		text-transform: uppercase
		font-family: "OpenSansSemibold", sans-serif
		span
			display: block
			font-size: 36px
			font-family: "OpenSansLight", sans-serif
	&__description
		color: #676767
		display: block
		font-family: "OpenSansLight", sans-serif
		padding-top: 24px
		padding-bottom: 40px
	&__button
		display: inline-block
		height: 40px
		background-color: #c4a8e5
		border-radius: 2px
		font-size: 18px
		color: #fff
		line-height: 40px
		padding: 0 25px
		margin-left: 84px
		&:hover, &:focus, &:active
			text-decoration: none
			color: #fff

.p-categories
	position: relative
	height: 280px
	overflow: hidden
	border: 1px solid #85729b
	display: block
	&:hover
		.p-categories__wrapper
			bottom: 0
			text-align: center
			background-color: rgba(#644e7e,.65)
		.p-categories__title
			display: block
			position: absolute
			top: 50%
			left: 0
			right: 0
			text-align: center
			transform: translateY(-50%)
			-webkit-transform: translateY(-50%)
		.p-categories__button
			background-color: #fff
			color: #c4a8e5
	&__img
		display: block
		width: 100%
	&__wrapper
		@include transition(all 0.3s ease-in-out)
		background-color: rgba(#000,.32)
		padding: 10px 20px
		position: absolute
		left: 0
		right: 0
		top: 0
		text-align: left
		display: block
	&__title
		font-size: 24px
		font-family: "OpenSansSemibold", sans-serif
		color: #fff
		display: inline-block
		z-index: 1
	&__button
		@include transition(all 0.3s ease-in-out)
		display: inline-block
		height: 40px
		background-color: #c4a8e5
		border-radius: 2px
		font-size: 18px
		color: #fff
		line-height: 40px
		padding: 0 25px
		bottom: 40px
		text-transform: uppercase
		&:hover, &:focus, &:active
			text-decoration: none
			color: #fff
		&-wp
			position: absolute
			bottom: 40px
			left: 0
			right: 0
			text-align: center

.p-pickingsalon
	&__title
		display: block
		text-align: center
		font-size: 30px
		color: #fff
		text-transform: uppercase
		font-family: "OpenSansSemibold", sans-serif

.f-subtitle
	font-size: 18px
	font-family: "OpenSansSemibold", sans-serif
	color: #444
	letter-spacing: 0.025em

.f-nav
	padding: 10px 0
	&-info
		.f-nav__item
			padding: 10px 0
	&__item
		display: block
		text-align: left
	&__link
		display: inline-block
		color: #686868
		padding: 5px 0
		font-size: 14px
		letter-spacing: 0.025em
		&:hover, &:focus, &:active
			text-decoration: underline
			color: #686868
		&:active
			text-decoration: none
	&__adr
		padding-left: 22px
		position: relative
		font-size: 14px
		line-height: 14px
		letter-spacing: 0.025em
		display: block
		&::before
			content: ''
			width: 16px
			height: 13px
			display: block
			background-repeat: no-repeat
			background-position: center center
			background-image: url(../img/icon/3.png)
			position: absolute
			left: 0
			top: 0

	&__phone
		padding-left: 22px
		position: relative
		font-size: 14px
		line-height: 14px
		letter-spacing: 0.025em
		display: block
		&::before
			content: ''
			width: 16px
			height: 13px
			display: block
			background-repeat: no-repeat
			background-position: center center
			background-image: url(../img/icon/4.png)
			position: absolute
			left: 0
			top: 0

	&__email
		padding-left: 22px
		position: relative
		font-size: 14px
		line-height: 14px
		letter-spacing: 0.025em
		display: block
		&::before
			content: ''
			width: 16px
			height: 13px
			display: block
			background-repeat: no-repeat
			background-position: center center
			background-image: url(../img/icon/5.png)
			position: absolute
			left: 0
			top: 0

.f-logo
	display: inline-block
	&__img
		max-width: 100%
		height: auto
		display: block
.f-soc
	font-size: 0
	text-align: center
	&__item
		display: inline-block
		padding: 0 6px
		&:first-child
			padding-left: 0
		&:last-child
			padding-right: 0
	&__link
		width: 21px
		display: block
		height: 21px
		background-color: #c4a8e5
		border-radius: 50%
		background-repeat: no-repeat
		background-position: center center

.f-copy
	color: #686868
	font-size: 12px
	line-height: 24px
	letter-spacing: 0.025em
	display: inline-block

.h-mobmenu
	width: 20px
	height: 18px
	background-image: url(../img/icon/mob-menu.png)
	background-repeat: no-repeat
	background-position: center center
	background-size: cover
	display: block

.popup
	max-width: 500px
	display: none

.p-path
	font-size: 0
	&__item
		display: inline-block
		padding-right: 15px
		position: relative
		&::after
			content: '>'
			font-size: 14px
			color: #8b8b8b
			position: absolute
			display: block
			width: 15px
			text-align: center
			right: 0
			top: 50%
			transform: translateY(-50%)
			-webkit-transform: translateY(-50%)
		&:last-child
			padding-right: 0
			&:after
				display: none
	&__link
		color: #8b8b8b
		text-decoration: underline
		font-size: 14px
		font-family: "OpenSansLight", sans-serif
	&__text
		text-decoration: underline
		font-size: 14px
		font-family: "OpenSansLight", sans-serif
		color: #c6a9e6

.b-filter
	font-size: 0
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	justify-content: space-between
	-webkit-justify-content: space-between
	background-color: #c6a9e6
	&__item
		padding: 0 20px
		position: relative
		&-active
			.b-filter__link
				color: #946bc1 !important
				&::after
					background-position: right center
	&__link
		font-size: 18px
		color: #fff
		font-family: "OpenSansBold", sans-serif
		padding: 14px 0
		display: block
		padding-right: 20px
		position: relative
		letter-spacing: 0.1em
		&::after
			content: ''
			width: 13px
			height: 7px
			background-position: left center
			background-size: auto 100%
			display: block
			background-image: url(../img/icon/filter.png)
			background-repeat: no-repeat
			position: absolute
			right: 0
			top: 24px
		&:hover, &:focus, &:active
			text-decoration: none
			color: #fff
	&__list
		position: absolute
		left: 0
		top: 100%
		background-color: #f6f6f6
		z-index: 10
		display: none
	&__subitem
		border-bottom: 1px solid #ebebeb
		width: 298px
		&-active
			.b-filter__sublink
				font-family: "OpenSansBold", sans-serif
				color: #c6a9e6 !important
	&__sublink
		font-size: 18px
		letter-spacing: 0.1em
		display: block
		padding: 5px 8px
		color: #686868
		&:hover, &:focus, &:active
			text-decoration: none
			color: #686868
	&__table
		width: 100%
		table-layout: fixed
		-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15)
		-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15)
		box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.15)
		&-top
			font-size: 12px
			td
				height: 28px
				padding: 10px 0 0 0
				border-bottom: 1px solid #ebebeb
				border-right: 1px solid #ebebeb
				text-align: center
				color: #c6a9e6
				font-family: "OpenSansBold", sans-serif
				width: 50px
				&:last-child
					border-right: none
		&-content
			font-size: 12px
			td
				width: 50px
				height: 24px
				border-bottom: 1px solid #ebebeb
				border-right: 1px solid #ebebeb
				text-align: center
				padding-top: 5px
				color: #686868
				&:first-child
					color: #c6a9e6
					font-family: "OpenSansBold", sans-serif
				&:last-child
					border-right: none


.p-catalog
	display: block
	&:hover, &:focus, &:active
		text-decoration: none
		color: inherit
		.p-catalog__top
			&::after
				background-color: rgba(#644e7e,.65)
		.p-catalog__button
			display: block
	&__top
		position: relative
		height: 275px
		overflow: hidden
		&::after
			content: ''
			display: block
			width: 100%
			height: 100%
			z-index: 1
			left: 0
			right: 0
			top: 0
			bottom: 0
			background-color: transparent
			position: absolute
	&__img
		display: block
		width: 100%
		height: auto
	&__bottom
		padding-top: 16px
	&__title
		display: block
		width: 100%
		font-size: 14px
		color: #686868
	&__firm
		display: block
		width: 100%
		text-transform: uppercase
		color: #c6a9e6
		font-size: 12px
	&__price
		display: block
		width: 100%
		text-align: right
		color: #686868
		font-size: 14px
		font-family: "OpenSansBold", sans-serif
		&::after
			content: 'р.'
			text-transform: uppercase
	&__button
		position: absolute
		left: 0
		right: 0
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
		z-index: 2
		width: 120px
		text-transform: uppercase
		height: 40px
		line-height: 40px
		margin: 0 auto
		text-align: center
		border-radius: 2px
		background-color: #ebebeb
		font-size: 18px
		color: #c6a9e6
		display: none

.p-card
	&__slider
		.owl-dots
			display: none
	&__item
		.p-card__img
			display: block
			width: 100%
			height: auto
	&__pagin
		margin-left: -10px
		margin-right: -10px
		padding-top: 20px
		@include clearfix
	&__side
		width: 33.333333%
		float: left
		padding: 0 10px
		.p-card__img
			display: block
			width: 100%
			height: auto
			cursor: pointer

.p-card
	&__title
		display: block
		width: 100%
		color: #686868
		font-size: 24px
		font-family: "OpenSansBold", sans-serif
		padding-bottom: 5px
	&__sub
		span
			display: block
			width: 100%
			color: #686868
			font-size: 14px
			font-family: "OpenSansLight", sans-serif
	&__price
		color: #c5a8e5
		font-size: 24px
		font-family: "OpenSansBold", sans-serif
		display: block
		padding-top: 5px
		&::after
			content: 'руб.'
	&__block
		padding-top: 14px
	&__subtitle
		color: #686868
		font-size: 20px
		font-family: "OpenSansBold", sans-serif
	&__list
		width: auto
		font-size: 0
		margin-left: -8px
		margin-right: -8px
	&__radio
		display: inline-block
		padding: 16px 8px 0
		input[type="radio"]
			display: none
			&:checked + label
				background-color: transparent
				font-family: "OpenSansBold", sans-serif
		label
			width: 40px
			height: 40px
			border-radius: 2px
			border: 1px solid #a1a1a1
			background-color: #a1a1a1
			font-size: 18px
			display: block
			line-height: 38px
			text-align: center
			color: #686868
			cursor: pointer
	&__button
		display: inline-block
		padding: 0 10px
		height: 50px
		text-transform: uppercase
		border: 1px solid #c6a9e6
		background-color: #c6a9e6
		font-size: 18px
		color: #fff
		line-height: 48px
		border-radius: 2px
		&:hover, &:focus, &:active
			background-color: #fff
			color: #c6a9e6
			text-decoration: none
		&-wp
			padding-top: 25px
	&__description
		padding-top: 10px
		b
			text-transform: uppercase
			color: #686868
			font-family: "OpenSansBold", sans-serif
			line-height: 36px
			display: block
		p
			display: block
			color: #686868
			font-family: "OpenSansLight", sans-serif

.p-complect,
.p-favorite
	&__title
		display: inline-block
		color: #686868
		font-size: 24px
		text-transform: uppercase
		font-family: "OpenSansBold", sans-serif
		letter-spacing: 0.1em
	&__slider
		.owl-dot
			display: none
		.owl-nav
			div
				transform: none
				-webkit-transform: none
				top: 118px
				margin-top: 0
			.owl-prev
				left: 0
			.owl-next
				right: 0

.p-basket
	&__title
		color: #686868
		text-transform: uppercase
		line-height: 36px
		font-family: "OpenSansBold", sans-serif
	&__table
		width: 100%
		border: 1px solid #d7d7d7
		border-radius: 2px
		table-layout: fixed
		tr
			td
				&:nth-child(1)
					width: 52%
		&-top
			background-color: #c6a9e6
			td
				&:first-child
					padding-left: 8px
					span
						text-align: left
			td > span
				color: #fff
				font-size: 18px
				font-family: "OpenSansLight", sans-serif
				display: block
				line-height: 30px
				text-align: center
		&-line
			border-bottom: 1px solid #d7d7d7
			&:last-child
				border-bottom: none
			td
				height: 205px
				padding: 19px 0
				position: relative
				&::after
					content: ''
					width: 1px
					height: 167px
					position: absolute
					right: 0
					top: 19px
					display: block
					background-color: #d7d7d7
				&:last-child
					&::after
						display: none
			td > span
				color: #2c2c2c
				font-size: 18px
				letter-spacing: 0.1em
				position: absolute
				top: 42px
				left: 0
				right: 0
				display: block
				text-align: center
	&__img
		display: block
		width: 100%
		height: auto
		&-wp
			width: 159px
			overflow: hidden
			position: relative
			top: 50%
			transform: translateY(-50%)
			-webkit-transform: translateY(-50%)
			height: 165px
			display: block
	&__description
		position: absolute
		left: 159px
		top: 36px
	&__subtitle
		color: #686868
		font-size: 18px
		display: block
	&__zav
		display: block
		font-size: 18px
		text-transform: uppercase
		color: #c6a9e6
	&__art
		font-size: 12px
		line-height: 35px
		color: #3a3a3a
		letter-spacing: 0.075em
		display: block
	&__del
		display: inline-block
		padding: 0 16px
		text-transform: uppercase
		height: 30px
		border-radius: 2px
		background-color: #c6a9e6
		line-height: 28px
		border: 1px solid #c6a9e6
		color: #fff
		font-size: 18px
		letter-spacing: 0.1em
		margin-top: 20px
		&:hover, &:focus, &:active
			text-decoration: none
			color: #c6a9e6
			background-color: transparent

	&__subprice
		&::after
			content: 'р.'
	&__col
		position: absolute
		top: 45px
		left: 50%
		width: 68px
		margin-left: -34px
		@include clearfix
		&-input
			width: 36px
			display: block
			height: 16px
			font-size: 18px
			color: #2c2c2c
			text-align: center
			border: none
			float: left
	&__minus
		height: 16px
		width: 16px
		border-radius: 2px
		border: 1px solid #cccccc
		display: block
		color: #707070
		position: relative
		float: left
		&::after
			content: ''
			display: block
			width: 10px
			height: 2px
			position: absolute
			left: 2px
			top: 6px
			background-color: #707070
		&:hover
			background-color: #ccc
			&::after
				background-color: #fff
	&__plus
		height: 16px
		width: 16px
		border-radius: 2px
		border: 1px solid #cccccc
		display: block
		float: left
		color: #707070
		position: relative
		&::after
			content: ''
			display: block
			width: 10px
			height: 2px
			position: absolute
			left: 2px
			top: 6px
			background-color: #707070
		&::before
			content: ''
			width: 2px
			height: 10px
			display: block
			position: absolute
			left: 6px
			top: 2px
			background-color: #707070
		&:hover
			background-color: #ccc
			&::after, &::before
				background-color: #fff
	&__subsum
		&::after
			content: 'р.'