@import "bourbon/bourbon"

/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.p-filter__item-wp
		padding-left: 12px
	.p-filter__item
		padding-left: 12px
	.p-filter
		padding-left: 21px
		padding-right: 21px
	.p-slider__item
		background-position: 110% center
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
	.header__h-logo
		padding-bottom: 45px
	.header__right
		padding-top: 0
	.h-nav__link
		font-size: 16px
	.h-nav
		padding: 0
	.p-categories__img
		height: 100%
		width: auto
		position: relative
		left: 50%
		transform: translateX(-50%)
		-webkit-transform: translateX(-50%)
	.p-categories__wrapper
		padding-left: 5px
		padding-right: 5px
	.p-filter__item-wp
		padding-left: 0
		width: 33.333333%
		.p-filter__item
			float: none
			padding-left: 0
			width: auto
			&:first-child
				margin-bottom: 10px
	.p-filter__item
		width: 33.333333%
		text-align: center
		padding-left: 0
	.p-filter__title
		padding-right: 40px
		text-align: left
	.p-filter__title
		font-size: 24px
		line-height: 30px
		padding: 15px 0
	.p-filter__button
		margin-bottom: 10px
	.p-slider__item
		background-position: 150% center
	.page__p-pickingsalon-right
		padding-right: 26px
	.page__p-pickingsalon-left
		padding-left: 26px
	.page__p-pickingsalon-right .p-filter__input,
	.page__p-pickingsalon-left .p-filter__input
		width: 100%
	.header__top
		padding-top: 15px
	.p-catalog__top
		height: 266px
	.b-filter__item
		padding: 0 5px
	.b-filter__link
		padding-right: 14px
	.b-filter__table-top td
		width: 40px
	.p-card-left
		@include clearfix
		padding: 0 45px
	.p-card__slider
		float: left
		width: 73.02%
	.p-card__pagin
		float: right
		width: 22.22%
	.p-card__side
		width: 100%
		float: none
		display: block
		padding: 0 0 13px 0
		&:last-child
			padding-bottom: 0
	.p-card-right
		padding-top: 20px
		@include clearfix
	.p-card-mob__left
		width: 50%
		float: left
	.p-card__description
		width: 50%
		float: right
	.p-basket__price span
		padding-right: 0
	.p-sposob__left
		width: 15.417%
	.p-sposob__center
		width: 49.722%
	.p-sposob__right
		width: 34.722%
	.p-sposob__list2
		.p-sposob__center
			width: 49.722 + 34.722 + %

	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.h-logo__description
		left: -15px
		right: -15px
	.header__right
		margin-left: -190px
	.h-nav
		display: block
	.h-nav__item
		width: 100%
		display: block
	.header__bottom
		height: auto
	.h-logo__description
		font-size: 16px
	.p-filter > .p-filter__item:first-child
		width: 100%
	.p-filter__title
		text-align: center
		font-size: 24px
	.p-filter__item-wp
		width: 50%
		padding: 0 15px
		.p-filter__item
			width: 100%
			padding-right: 0
			.p-filter__input
				width: 100%
	.p-filter__item
		width: 50%
		padding: 0 15px
		.p-filter__button
			width: 100%
	.header__bottom
		display: none
	.page__p-pickingsalon
		padding-left: 0
		padding-right: 0
		width: 70%
		margin: 0 auto
	.page__p-pickingsalon
		padding-bottom: 20px
	.page__categories .row, .page__pickingsalon .row, .page__catalog .row
		margin-left: -15px
		margin-right: -15px
	.page__categories .col-md-6, .page__pickingsalon .col-md-6, .page__catalog .col-md-3
		padding-left: 15px
		padding-right: 15px
	.p-filter
		padding: 15px 0 !important
	.page__p-filter
		padding-top: 0
		padding-bottom: 40px
	.page__p-categories
		padding-bottom: 40px
	.page__pickingsalon
		padding: 40px 0
	.footer
		margin-top: 40px
		padding-top: 30px
	.p-slider__description
		display: none
	.p-slider__title
		padding-bottom: 30px
		font-size: 40px
		span
			font-size: 24px
	.p-slider__button
		margin-left: 30px
	.p-slider__content
		width: 64%
		padding-top: 20px
	.p-slider__item
		height: 278px
	.p-filter__item-title
		padding-left: 15px !important
	.f-nav__link,
	.f-nav-info .f-nav__item
		padding: 3px 0
	.f-soc__item
		padding: 0 3px
	.f-nav__phone
		white-space: nowrap
	.f-soc
		text-align: right
	.p-slider__item
		background-size: auto 160%
	.h-nav__item
		text-align: center
	.header__bottom
		margin-bottom: 40px
	.b-filter__list
		width: 290px
		overflow-x: scroll
	.b-filter
		display: block
		text-align: center
		position: relative
	.b-filter__item
		display: inline-block
	.b-filter__link
		padding: 8px 14px 8px 0
	.b-filter__link::after
		top: 18px
	.b-filter__item
		position: static
	.b-filter__subitem
		width: 100%
	.p-catalog__top
		height: 162px
	.p-catalog__img
		position: relative
		top: 50%
		transform: translateY(-50%)
		-webkit-transform: translateY(-50%)
	.p-complect__slider, .p-favorite__slider
		.owl-nav
			div
				top: 66px
	.p-card__pagin
		display: none
	.p-card__slider
		float: none
		width: 100%
	.p-card-left
		padding: 0
	.p-card-mob__left
		width: 100%
		float: none
	.p-card__description
		width: 100%
		float: none
	.p-complect__title, .p-favorite__title
		font-size: 18px
	.page__p-path
		padding-top: 10px
		padding-bottom: 10px
	.p-basket__full
		text-align: left
		padding-top: 0
		padding-bottom: 12px
	.p-basket__table tr td:nth-child(1)
		width: 100%
		height: 205px
	.p-basket__table tr td:nth-child(1)::after
		display: none
	.p-basket__table-line td
		display: block
		width: 25%
		float: left
		height: 88px
		
	.p-basket__table-line
		border-right: 1px solid #d7d7d7
	.p-basket__table-line td > span,
		top: 26px
	.p-basket__col
		top: 30px
	.p-basket__table-line td::after
		height: 38px
	.p-basket__table .p-basket__table-top td:nth-child(1)
		height: auto
		display: block !important
	.p-basket__table .p-basket__table-top td
		display: none
	.p-sposob__right p
		font-size: 12px
	.p-sposob__center span
		font-size: 14px
	.p-sposob__center span strong
		font-size: 14px
	.p-form__description
		right: 20px
		font-size: 10px
	.p-form__row label
		width: 35%
	.p-form__row input
		width: 65%
	.p-sposob__left
		width: 23.913%
	.p-sposob__center
		width: 51.087%
	.p-sposob__right
		width: 100 - (51.087 + 23.913) + %
	.p-sposob__list2
		.p-sposob__center
			width: 49.722 + 34.722 + %
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.p-filter__item-wp,
	.p-filter__item
		width: 100%
	.p-filter__item .p-filter__button
		margin-top: 10px
	.h-logo__description
		bottom: -40px
		left: 0
		right: 0
	.p-basket__table-line td > span
		font-size: 14px
		top: 29px
	.p-basket__subtitle,
	.p-basket__zav,
	.p-basket__del
		font-size: 14px
	.p-basket__col-input
		width: 32px
	.p-basket__col
		width: 64px
		margin-left: -32px
	.p-sposob__left
		width: 32%
	.p-sposob__center
		width: 68%
	.p-sposob__right
		width: 100%
		text-align: center
		p
			left: 0
	.p-sposob__list2
		.p-sposob__center
			width: 68%
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

